
*~
*.o
*.a
*.lo
*.la
*.log
*.pyc
*.pc
*.exe
*.gcov
*.gcda
*.gcno
*.stackdump
*.c.*r.*
.libs
.deps
.dirstamp
Makefile
autom4te.cache
confdefs.h
config.h
config.log
config.status
nbproject
stamp-h1

# distros
*.tar.gz
*.tgz
*.tar
*.zip
